* List and Tuple are the class of Data structure.

* They store one or more values in a specific order.

* Values stored in list or tuple can be of any type.

# List

List is a collection of multiple values. They are defined by enclosing a comma-separated sequence of values in square brackets [ ]

In [1]:
a = ['apple','banana','cherry']
a

['apple', 'banana', 'cherry']

In [2]:
#access the banana value in the list

a[1]

'banana'

#### Operations on List

<strong>append()</strong> method add element at the end of the list.

In [3]:
a.append('flower')
a

['apple', 'banana', 'cherry', 'flower']

<strong>insert()</strong> method adds element at the specified index.

In [4]:
a.insert(0,'trees')
a

# trees is added at the beginning

['trees', 'apple', 'banana', 'cherry', 'flower']

<strong>remove()</strong> removes the specified item.

In [5]:
a.remove('trees')
a

['apple', 'banana', 'cherry', 'flower']

<strong>pop()</strong> removes the item at the specified index or last item if the index is not specified.

In [6]:
a.pop()
a

#The last item flower has been removed

['apple', 'banana', 'cherry']

<strong>copy()</strong> returns a copy of the list

In [7]:
c = a.copy()
c

['apple', 'banana', 'cherry']

<strong>clear()</strong> method removes all the elements from the list.

In [8]:
c.clear()
c

[]

<strong>reverse()</strong> reverses the order of the list.

In [9]:
a

['apple', 'banana', 'cherry']

In [10]:
a.reverse()
a

['cherry', 'banana', 'apple']

<strong>count()</strong> method returns the number of elements with the specified value.

In [11]:
a.count('apple')

1

In [12]:
a.append('apple')
a

['cherry', 'banana', 'apple', 'apple']

In [13]:
a.count('apple')

2

<strong>extend()</strong> method adds the elements of the list to the current list

In [14]:
c = [3,8]

a.extend(c)

a

['cherry', 'banana', 'apple', 'apple', 3, 8]

<strong>sort()</strong> method sorts the list.

In [15]:
a = ['cherry', 'banana', 'apple', 'apple']

In [16]:
a.sort()

a

['apple', 'apple', 'banana', 'cherry']

In [17]:
a = [1,2,3,4,5]

a[-1]

5

In [18]:
a[2] = "python"

a

[1, 2, 'python', 4, 5]

In [19]:
b = a.pop(2)
b

'python'

In [20]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
type(a)

list

In [22]:
print(a[2:4])

[2, 3]

In [23]:
print(a[2:])

[2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
print(a[:2])

[0, 1]

In [25]:
a[2:4] = [21,22]
a

[0, 1, 21, 22, 4, 5, 6, 7, 8, 9]

#### 2D List

In [26]:
z = [[2,3],[3,4]]
z

[[2, 3], [3, 4]]

In [27]:
a

[0, 1, 21, 22, 4, 5, 6, 7, 8, 9]

In [37]:
b = [i*2 for i in a]

In [38]:
b

[0, 2, 42, 44, 8, 10, 12, 14, 16, 18]

<strong>NB:</strong> we can sort the list "a" which include both object and integer types. This will throw an error.

# Tuple

A tuple is an immutable sequence of python objects, just like lists. The only difference is that values in tuple cannot be changed once an object of tuple(immutable) is created while a value in a list can be changed(mutable).

In [28]:
b = (4,8,10,0,8,6)
b

(4, 8, 10, 0, 8, 6)

#### Operations on Tuples

 <strong>count()</strong> specifies the number of times a value occured in a tuple.

In [29]:
b.count(8)

2

 <strong>index()</strong> returns the index of a specified value

In [30]:
b.index(4)

0

 <strong>len()</strong> returns the length of the tuple

In [31]:
len(b)

6

 <strong>+</strong> operator joins two tuples

In [32]:
u = (2,5,7,6)

v = (1,2,4,5)

u + v

(2, 5, 7, 6, 1, 2, 4, 5)

* Convert list into tuple

In [33]:
a

[0, 1, 21, 22, 4, 5, 6, 7, 8, 9]

In [34]:
e = tuple(a)
e

(0, 1, 21, 22, 4, 5, 6, 7, 8, 9)

* Convert tuple into list

In [35]:
f = list(e)

f

[0, 1, 21, 22, 4, 5, 6, 7, 8, 9]

<strong>NB:</strong> tupe and list cannot be concatenated


<table>
    <tr>
        <th>List</th>
        <th>Tuple</th>
    </tr>
    <tr>
        <td>They are ordered</td>
        <td>They are ordered</td>
    </tr>
    <tr>
        <td>Allow duplicate members</td>
        <td>Allow duplicate members</td>
    </tr>
    <tr>
        <td>changeable (mutable)</td>
        <td>inchangeable (immutable)</td>
    </tr>
    <tr>
        <td>created using [ ]</td>
        <td>Created using ( )</td>
    </tr>
</table>