# Dictionary

<strong>Dictionary</strong> is an unordered collection of data values, used to store data values. It holds the <strong>key:value</strong> pair.

* The values in the dictionary can be of any data type and can repeat.
* The keys in the dictionary must be of immutable type (string,number or tuple with immutable elements) and must be unique. 
* They are created with curly brackets <strong>{ }</strong>.
* They are mutable i.e, we can add new items or change the value of existing items using assignment operator.

In [1]:
items = {'brand':'Ford','model':'Mustang','year':1964}
items

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Create dictionary using <strong>dict()</strong> function.

<strong>Note:-</strong>

* Key are not string literals i.e, we write keys without quotes.
* Using equals rather than colon for assignment.

In [2]:
items = dict(brand='Ford',model='Mustang',year=1964)
items

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Access items using <strong>get()</strong> method

In [3]:
items

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
items.get('brand')

'Ford'

In [5]:
items['brand']

'Ford'

We can change or add new items to the <strong>dictionary</strong>.

if the key is already present, then the existing value gets updated. In case the key is not present, a new <strong>Key:value</strong> pair is added to the <strong>dictionary</strong>

In [6]:
#change value of existing item

items['brand'] = 'Maruti'

In [7]:
items

{'brand': 'Maruti', 'model': 'Mustang', 'year': 1964}

In [8]:
# add a new item with assignment operator

items['color'] = 'red'

In [9]:
items

{'brand': 'Maruti', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Operations on dictionaries

<strong>copy()</strong> method returns a copy of the dictionary.

In [10]:
dict1 = {1:'Camara',2:'Ahmed',3:'Camara'}

In [11]:
dict2 = dict1.copy()
dict2

{1: 'Camara', 2: 'Ahmed', 3: 'Camara'}

<strong>items()</strong> method returns a list containing a tuple for each key-value pair.

In [12]:
dict1.items()

dict_items([(1, 'Camara'), (2, 'Ahmed'), (3, 'Camara')])

<strong>keys()</strong> method returns a list containing the dictionary keys.

In [13]:
dict1.keys()

dict_keys([1, 2, 3])

<strong>pop()</strong> removes element with a specified key.

In [14]:
dict1.pop(1)
dict1

{2: 'Ahmed', 3: 'Camara'}

<strong>popitem()</strong> removes the last inserted key:value pair.

In [15]:
#remove 3:'camara'
dict1.popitem()
dict1

{2: 'Ahmed'}

<strong>update()</strong> update the dictionary with the specified key-value pair.

In [16]:
dict1.update({3:'Camara'})
dict1

{2: 'Ahmed', 3: 'Camara'}

<strong>clear()</strong> clear all elements from the dictionary.

In [17]:
dict1.clear()
dict1

{}

<strong>values()</strong> returns a list of all the values in the dictionary.

In [18]:
dict1 = dict2.copy()

In [19]:
dict1

{1: 'Camara', 2: 'Ahmed', 3: 'Camara'}

In [20]:
dict1.values()

dict_values(['Camara', 'Ahmed', 'Camara'])

### Nested dictionary

it is a collection of dictionaries into one single dictionary.

In [21]:
student_marks = {
    'Ahmed':{'Math':75,'Science':80,'English':78},
    'Almam':{'Math':60,'Science':65,'English':70},
    'Idriss':{'Math':80,'Science':50,'English':68}
}

student_marks

{'Ahmed': {'Math': 75, 'Science': 80, 'English': 78},
 'Almam': {'Math': 60, 'Science': 65, 'English': 70},
 'Idriss': {'Math': 80, 'Science': 50, 'English': 68}}

In [22]:
# add new student

student_marks['Ismail'] = {}
student_marks['Ismail']['Math']=79
student_marks['Ismail']['Science']=80
student_marks['Ismail']['English']=90
student_marks

{'Ahmed': {'Math': 75, 'Science': 80, 'English': 78},
 'Almam': {'Math': 60, 'Science': 65, 'English': 70},
 'Idriss': {'Math': 80, 'Science': 50, 'English': 68},
 'Ismail': {'Math': 79, 'Science': 80, 'English': 90}}

In [23]:
#Delete a student item

student_marks.pop('Ismail')

student_marks

{'Ahmed': {'Math': 75, 'Science': 80, 'English': 78},
 'Almam': {'Math': 60, 'Science': 65, 'English': 70},
 'Idriss': {'Math': 80, 'Science': 50, 'English': 68}}

In [24]:
#Iteration


for name,subjects in student_marks.items():
    print('Name of student : ',name)
    for mark in subjects:
        print(mark,':',subjects[mark])

Name of student :  Ahmed
Math : 75
Science : 80
English : 78
Name of student :  Almam
Math : 60
Science : 65
English : 70
Name of student :  Idriss
Math : 80
Science : 50
English : 68

# Set

It is a collection which is unordered and unindexed. They are created with curly brackets { }.

In [25]:
s = {'banana','apple','cherry'}

s

{'apple', 'banana', 'cherry'}

In [26]:
type(s)

set

Once a <strong>Set</strong> is created, we cannot change the item in it.But, we can add a new item using <strong>add()</strong> function or multiple items using <strong>update()</strong> function.

In [27]:
#add() function

s.add('pineapple')

s

{'apple', 'banana', 'cherry', 'pineapple'}

In [28]:
#update() function

s.update({'orange','watermelon'})

s

{'apple', 'banana', 'cherry', 'orange', 'pineapple', 'watermelon'}

<strong>Remove element</strong>

* <strong>remove()</strong> function removes a specified element from the set, and throw an error if the specified element does not exit.

* <strong>discard()</strong> function removes a specified element from the set, and does not throw an error if the element does not exist.
* <strong>pop()</strong> function removes a random value from the set.

In [29]:
#remove() function with unknown value

s.remove('mango')

KeyError: 'mango'

In [30]:
#remove() function with existing value

s.remove('pineapple')
s

{'apple', 'banana', 'cherry', 'orange', 'watermelon'}

In [31]:
#discard() function with unexisting value

s.discard('mango')

In [32]:
#discard() function with existing value

In [33]:
s.discard('banana')
s

{'apple', 'cherry', 'orange', 'watermelon'}

In [34]:
s

{'apple', 'cherry', 'orange', 'watermelon'}

In [35]:
#pop() function

s.pop()

'cherry'

### Operations on set

<strong>union()</strong> function on two sets, is the set of all elements from both sets.

it can be performed using:

* <strong>|</strong> operator.
* <strong>union()</strong> function.

In [36]:
A = {1,2,4,7,8}

B = {1,2,3,5,9,8}

In [37]:
A|B

{1, 2, 3, 4, 5, 7, 8, 9}

In [38]:
A.union(B)

{1, 2, 3, 4, 5, 7, 8, 9}

In [39]:
B.union(A)

{1, 2, 3, 4, 5, 7, 8, 9}

<strong>Intersection</strong> of two sets is the set of elements that are present in both sets.

it can be performed using:

* <strong>&</strong> operator.
* <strong>intersection()</strong> function.

In [40]:
A&B

{1, 2, 8}

In [41]:
B&A

{1, 2, 8}

In [42]:
A.intersection(B)

{1, 2, 8}

<strong>Difference</strong> of two sets (A-B) is the set of elements that are only in A but not in B.

it can be performed using:

* <strong>-</strong> operator.
* <strong>difference()</strong> function.

In [43]:
A

{1, 2, 4, 7, 8}

In [44]:
B

{1, 2, 3, 5, 8, 9}

In [45]:
A-B

{4, 7}

In [46]:
B-A

{3, 5, 9}

In [47]:
A.difference(B)

{4, 7}

In [48]:
B.difference(A)

{3, 5, 9}

<strong>Set Symmetric Difference</strong> is the set of elements from A and B excluding elements that are common in both.

it can be performed using:

* <strong>^</strong> operator.
* <strong>symmetric_difference()</strong> function.

In [49]:
A

{1, 2, 4, 7, 8}

In [50]:
B

{1, 2, 3, 5, 8, 9}

In [51]:
A^B

{3, 4, 5, 7, 9}

In [52]:
B^A

{3, 4, 5, 7, 9}

In [53]:
A.symmetric_difference(B)

{3, 4, 5, 7, 9}

In [54]:
B.symmetric_difference(A)

{3, 4, 5, 7, 9}